<!-- /inner_content_w3_agile_info-->
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li><a href="@Url.Action("Reports","Manage")">@AppletDashIndex.DashIndex.appletdashindexsidebarreports</a><span>«</span></li>

            <li>@AppletDashIndex.DashIndex.appletdashnewsreport</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- ------------------------------------------------------------------------------ -->

<div class="inner_content_w3_agile_info codeHtml code_blog two_in">

    <!-- tables -->
    <div class="agile-tables">

        <!-- start my-panel -->
        <div class="my-panel w3l-table-info agile_info_shadow y">


            <div class="col-xs-12">

                <div class="panel panel-default">

                    <div class="panel-heading">APPLET News Report</div>


                    <!-- End btn-block -->

                </div>
                <!-- End panel -->

            </div>
            <!-- End col -->


            <iframe src="~/Reports/NewsReport.aspx" width="100%" height="600" frameborder="0"></iframe>


        </div>
        <!-- End My panel -->
        <!-- --------------------------------------------------------------------------- -->
        <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->


    </div>
    <!-- //tables agile-tables -->

</div>
<!-- codeHtml -->
<!-- ------------------------------------------------------------------------------- -->

